@import "main-style";
@import "setting";
@import "footer";


body {
  width: 100%;
  height: 100%;
  background-image: url(../assets/background.png);
  @include backgroundImg();
  font-family: $font;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $white;
  .main__wrapper {
    h1 {
      color: rgb(187, 192, 188);
      width: 220px;
      height: 140px;
      margin: 50px auto 0 auto;
    }
    .main__menu {
      @include flex();
      margin-top: 80px;
      .artists__quiz-img {
        background-image: url(../assets/artists-quiz.png);
      }
      .pictures__quiz-img {
        background-image: url(../assets/pictures-quiz.png);
      }
      .main__img {
        @include backgroundImg();
        @include sizeMainImg();
        @include hoverImg();
        box-shadow: $shadow;
      }
      .quiz__description {
        text-align: right;
        color: $main-color;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 400;
        margin-top: 15px;
        .quiz__description-text {
          font-weight: 700;
        }
      }
    }
    .button__settings {
      @include btn();
      display: block;
      margin: 50px auto 0 auto;
      white-space: nowrap;
    }
  }
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.hide{
  display: none;
}