<div class="main-wrapper">
  <div class="main-images">
    <img src="../../assets/img/bg-new.jpg" alt="background" />
    <div class="main-img-bg">
      <img
        class="first-ball"
        src="../../assets/ball/Ball_bg-1-new.png"
        alt="ball"
      />
      <img class="second-ball" src="../../assets/svg/ball-bg.svg" alt="ball" />
    </div>
    <div class="main-title blur">
      <p>помогите бабушке нарядить елку</p>
    </div>
    <button class="main-btn blur" id="btn">Начать</button>
  </div>
</div>
