@import "../../scss/style";

.main1__wrapper {
  width: 100%;
  height: 100%;
  background: url("../../assets/img/bg-blur-new.png");
  background-size: 100% 100%;
  @include bg-image();
  opacity: 1;
  .main1__container {
    padding-top: 3em;
    margin: 0 auto;
    width: 95vw;
    @include flex();
    .menu-main1 {
      width: 20%;
      .menu-main1__tools {
        @include flex();
        gap: 1.8em;
        .menu-main1__sound {
          .menu-main1__volume {
            background-image: url("../../assets/svg/audio.svg");
          }
        }
        .menu-main1__snow {
          background-image: url("../../assets/svg/snowflake.svg");
        }
        .menu-main1__search {
          .search-menu {
            position: relative;
            @include blur();
            border-radius: 25px;
            border: 3px solid $border;
            input {
              height: 36px;
              border: none;
              width: 79%;
              padding: 2px 0px 0px 15px;
              background-color: transparent;
              color: #fff;
              &::placeholder {
                color: rgba(255, 255, 255, 0.7);
              }
            }
            button {
              background-image: url("../../assets/svg/search.svg");
              width: 24px;
              height: 24px;
              background-size: 24px 24px;
              @include bg-image();
              position: absolute;
              top: 6px;
              right: 0.4em;
            }
          }
        }
      }
      .btn-menu {
        width: 36px;
        height: 36px;
        background-size: 36px 36px;
        @include bg-image();
        &:hover {
          opacity: 1;
        }
        padding-top: 6px;
      }
      .menu-main1__filter {
        width: 100%;
        border-radius: 10px;
        margin-top: 50px;
        @include blur();
        padding: 20px 15px;
        box-sizing: border-box;
      }
      .filter-form__title {
        @include title-text();
      }
      .filter-form__description {
        @include title-text(0.9em);
      }
      .filter-content {
        margin-top: 1em;
        @include flex();
        align-items: center;
      }
      .filter-content__forma {
        @include flex();
        gap: 0.25em;
        button {
          width: 38px;
          height: 38px;
          background-size: 38px 38px;
          @include bg-image();
          &:hover {
            opacity: 1;
          }
          &:nth-child(1) {
            background-image: url("../../assets/svg/bell.svg");
          }
          &:nth-child(2) {
            background-image: url("../../assets/svg/ball.svg");
          }
          &:nth-child(3) {
            background-image: url("../../assets/svg/cone.svg");
          }
          &:nth-child(4) {
            background-image: url("../../assets/svg/star.svg");
          }
          &:nth-child(5) {
            background-image: url("../../assets/svg/snow.svg");
          }
          &:nth-child(6) {
            background-image: url("../../assets/svg/toy.svg");
          }
        }
      }
      .filter-content__color {
        @include flex();
        gap: 0.7em;
        button {
          width: 38px;
          height: 38px;
          border-radius: 5px;
          border: none;
          &:hover {
            opacity: 1;
          }
          &:nth-child(1) {
            background-color: white;
          }
          &:nth-child(2) {
            background-color: gold;
          }
          &:nth-child(3) {
            background-color: red;
          }
          &:nth-child(4) {
            background-color: blue;
          }
          &:nth-child(5) {
            background-color: green;
          }
        }
      }
      .filter-content__size {
        @include flex();
        gap: 0.7em;
        align-items: center;
        margin-right: 3.6em;
        button {
          background-image: url("../../assets/svg/ball.svg");
          @include bg-image();

          &:hover {
            opacity: 1;
          }
          &:nth-child(1) {
            width: 52px;
            height: 52px;
            background-size: 52px 52px;
          }
          &:nth-child(2) {
            width: 44px;
            height: 44px;
            background-size: 44px 44px;
          }
          &:nth-child(3) {
            width: 36px;
            height: 36px;
            background-size: 36px 36px;
          }
        }
      }
    }
    .content-main1 {
      width: 80%;
      height: 500px;
      background-color: blueviolet;
      margin-left: 20px;
    }
  }
}
