/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/forum-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/forum-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-size: 22px;
  line-height: 38px;
  font-weight: 300;
  color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header styles start */

.header {
  background-color: #030303;
  height: 150px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 51px;
}

.header__logo-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.header__logo-pic {
  background-image: url("../assets/svg/Logo.svg");
  width: 49px;
  height: 26px;
  margin-right: 25px;
  margin-top: 2px;
}

h4 {
  font-family: Forum;
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 5px;
  color: #ffffff;
}

.header__logo-link:hover {
  filter: invert(54%) sepia(3%) saturate(3204%) hue-rotate(356deg)
    brightness(99%) contrast(93%);
  transition: 0.3s;
}

.header__logo-link:not(:hover) {
  transition: 0.3s;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  padding-right: 55px;
}

.header__item:last-child {
  padding-right: 0;
}

.tickets {
  padding-left: 5px;
}

.header__link {
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: #9d8665;
  transition: 0.3s;
}

.header__link:not(:hover) {
  transition: 0.3s;
}

/* Header styles end */

/* Main styles start */

/* -Section Welcome start */

.Welcome {
  min-height: 810px;
  /* background-image: url("../assets/img/welcome-slider/1.jpg");
    background-size: 1000px 750px;
    background-repeat: no-repeat;
    background-position: calc(50% + 232px) 100%; */
  background-color: #030303;
  margin-bottom: 75px;
}

.Welcome__wrapper {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; */
  position: relative;
}

.Welcome__section {
  position: absolute;
  margin-top: 150px;
  z-index: 10;
}

.Welcome__title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  max-width: 598px;
  margin-bottom: 26px;
}

.Welcome__subtitle {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin-bottom: 75px;
}

.Welcome__button {
  display: flex;
  width: 360px;
  height: 75px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #710707;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.Welcome__button:hover,
.Welcome__button:focus,
.Welcome__button:active {
  background: #9d8665;
  transition: 0.5s;
}

.Welcome__button:not(:hover) {
  transition: 0.5s;
}

.Welcome__carousel {
  position: absolute;
  right: 0;
}

.Welcome__carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgb(3, 3, 3, 1) 0%,
    rgb(0, 0, 0, 0.5) 20%,
    rgb(255, 255, 250, 0) 35%
  );
  z-index: 1;
}

.Welcome__item {
  display: none;
}

.Welcome__item.active,
.Welcome__item.next {
  display: block;
}

.Welcome__item.next {
  position: absolute;
  width: 100%;
}

.Welcome__control {
  position: absolute;
  width: 600px;
  height: 120px;
  background-color: #000;
  bottom: -60px;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Welcome__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 55px;
  margin-top: 1px;
}

.Welcome__current,
.Welcome__separator {
  margin-right: 10px;
}

.Welcome__bullet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.Welcome__point {
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-right: 25px;
}

.Welcome__point:first-child {
  background-color: #d2b183;
}

.Welcome__point:last-child {
  margin-right: 60px;
}

.Welcome__point:hover,
.Welcome__point:focus,
.Welcome__point:active {
  background-color: #9d8665;
  transition: 0.3s;
}

.Welcome__point:not(:hover) {
  transition: 0.3s;
}

.Welcome__arrow.left {
  background-image: url("../assets/img/Left.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 8px;
  cursor: pointer;
  margin-right: 20px;
}

.Welcome__arrow.left:hover,
.Welcome__arrow.left:focus,
.Welcome__arrow.left:active {
  filter: invert(54%) sepia(3%) saturate(3204%) hue-rotate(356deg)
    brightness(99%) contrast(93%);
  transition: 0.3s;
}

.Welcome__arrow.left:not(:hover) {
  transition: 0.3s;
}

.Welcome__arrow.right {
  background-image: url("../assets/img/Right.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 8px;
  cursor: pointer;
}
п .Welcome__arrow.right:hover,
.Welcome__arrow.right:focus,
.Welcome__arrow.right:active {
  filter: invert(54%) sepia(3%) saturate(3204%) hue-rotate(356deg)
    brightness(99%) contrast(93%);
  transition: 0.3s;
}

.Welcome__arrow.right:not(:hover) {
  transition: 0.3s;
}

/* -Section Welcome end */

/* -Section Visiting start */
.Visiting {
  margin-bottom: 73px;
}

.top__title-white {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}

.Visiting__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 76px 60px;
}

.Visiting__card-thumb {
  width: 440px;
  height: 285px;
  margin-bottom: 25px;
}

.Visiting__card-thumb:hover {
  transform: scale(1.06);
  transition: 1s;
}

.Visiting__card-thumb:not(:hover) {
  transition: 0.5s;
}

.Visiting__card-pic {
  position: relative;
}

.Visiting__card-pic::after {
  content: "";
  position: absolute;
  bottom: -46px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.Visiting__card:hover .Visiting__card-pic::after {
  width: 440px;
  transition: 1s;
}

.Visiting__card-title {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
}

.Visiting__card-comments-360 {
  font-weight: 100;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.Visiting__card-comments-view {
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* -Section Visiting end */
