/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/forum-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/forum-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v27-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-size: 22px;
  line-height: 38px;
  font-weight: 300;
  color: #ffffff;
  min-width: 1500px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header styles start */

.header {
  background-color: #030303;
  height: 150px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 51px;
}

.header__logo-link {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
}

.header__logo-pic {
  background-image: url("../assets/svg/Logo.svg");
  width: 49px;
  height: 26px;
  margin-right: 25px;
  margin-top: 2px;
}

h4 {
  font-family: Forum;
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 5px;
  color: #ffffff;
}

.header__logo-link:hover {
  filter: invert(54%) sepia(3%) saturate(3204%) hue-rotate(356deg)
    brightness(99%) contrast(93%);
  transition: 0.3s;
}

.header__logo-link:not(:hover) {
  transition: 0.3s;
}

.header__nav-menu {
  display: none;
}

.header__nav-pic-mobile {
  display: none;
}

.burger-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0);
}

.header__menu {
  display: none;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 775px;
}

.tickets {
  padding-left: 5px;
}

.header__link {
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: #9d8665;
  transition: 0.3s;
}

.header__link:not(:hover) {
  transition: 0.3s;
}

/* Header styles end */

/* Main styles start */

/* -Section Welcome start */

.Welcome {
  /* height: 810px; */
  /* background-image: url("../assets/img/welcome-slider/1.jpg");
    background-size: 1000px 750px;
    background-repeat: no-repeat;
    background-position: calc(50% + 232px) 100%; */
  background-color: #030303;
  margin-bottom: 75px;
}

.Welcome__wrapper {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; */
  height: 810px;
  /* background: linear-gradient(
      90deg,
      #030303 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    ),
    url(../assets/svg/MonaLisa.svg) no-repeat;
  background-position: right top; */
}

.Welcome__section {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 598px;
  max-width: 598px;
  height: 388px;
  margin-top: 150px;
}

.Welcome__title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 598px;
  margin-bottom: 26px;
}

.Welcome__picture {
  display: none;
}

.Welcome__subtitle {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin-bottom: 75px;
  font-weight: 100;
}

.Welcome__button {
  display: flex;
  width: 360px;
  height: 75px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #710707;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.Welcome__button:hover,
.Welcome__button:focus,
.Welcome__button:active {
  background: #9d8665;
  transition: 0.5s;
}

.Welcome__button:not(:hover) {
  transition: 0.5s;
}

.Welcome__slider-section {
  width: 1000px;
  height: 750px;
  position: relative;
  margin-left: auto;
}

.Welcome__slider-two .swiper{
  position: absolute;
  bottom: 1000px;
}

.Welcome__slider-slide::after {
  z-index: 100;
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#030303),
    color-stop(16.19%, rgba(0, 0, 0, 0.5)),
    color-stop(30.73%, rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    90deg,
    #030303 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 1px;
  pointer-events: none;
}

.Welcome__control {
  position: relative;
  width: 600px;
  height: 120px;
  background-color: #030303;
  bottom: 60px;
  margin-left: auto;
  z-index: 150;
}

.Welcome__control-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 451px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome__slider-fraction{
  display: flex;
}

.slider_fraction_current{
  margin-right: 10px;
}

.slider_fraction_separator{
   margin-right: 10px;
}

.Welcome__slider-arrow {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome__slider-bullet .swiper-pagination {
  display: flex;
  justify-content: center;
}

.Welcome__arrow.Welcome__slider-left {
  background-image: url("../assets/img/Left.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  background-position: center;
  cursor: pointer;
  margin-right: 20px;
}

.Welcome__arrow.Welcome__slider-left:hover,
.Welcome__arrow.Welcome__slider-left:focus,
.Welcome__arrow.Welcome__slider-left:active {
  filter: invert(54%) sepia(3%) saturate(3204%) hue-rotate(356deg)
    brightness(99%) contrast(93%);
  transition: 0.3s;
}

.Welcome__arrow.Welcome__slider-left:not(:hover) {
  transition: 0.3s;
}

.Welcome__arrow.Welcome__slider-right {
  background-image: url("../assets/img/Right.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  background-position: center;
  cursor: pointer;
}

.Welcome__arrow.Welcome__slider-right:hover,
.Welcome__arrow.Welcome__slider-right:focus,
.Welcome__arrow.Welcome__slider-right:active {
  filter: invert(54%) sepia(3%) saturate(3204%) hue-rotate(356deg)
    brightness(99%) contrast(93%);
  transition: 0.3s;
}

.Welcome__arrow.Welcome__slider-right:not(:hover) {
  transition: 0.3s;
}

/* -Section Welcome end */

/* -Section Visiting start */
.Visiting {
  margin-bottom: 73px;
}

.top__title-white {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}

.Visiting__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 76px 60px;
}

.Visiting__card-thumb {
  max-width: 440px;
  height: 285px;
  margin-bottom: 25px;
}

.Visiting__card-thumb:hover {
  transform: scale(1.06);
  transition: 1s;
}

.Visiting__card-thumb:not(:hover) {
  transition: 0.5s;
}

.Visiting__card-pic {
  position: relative;
}

.Visiting__card-pic::after {
  content: "";
  position: absolute;
  bottom: -46px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.Visiting__card:hover .Visiting__card-pic::after {
  width: 440px;
  transition: 1s;
}

.Visiting__card-title {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
}

.Visiting__card-comments-360 {
  font-weight: 100;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.Visiting__card-comments-view {
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* -Section Visiting end */

/* -Section Explore start */
.Explore {
  background-color: #030303;
  margin-bottom: 75px;
  height: 865px;
}

.Explore__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top__title-black {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
  margin-bottom: 76px;
  padding-top: 75px;
}

.Explore__description-left {
  max-width: 660px;
  margin-bottom: 25.5px;
}

.Explore__description-left-yellow {
  color: #9d8665;
}

.Explore__slider {
  width: 720px;
  height: 700px;
  margin-top: 90px;
}

.Explore__slider__after,
.Explore__slider__before {
  height: 100%;
  background-repeat: no-repeat;
}

.Explore__slider__after {
  position: relative;
  background-image: url(../assets/img/explore-slider/after.jpg);
  overflow: hidden;
}

.Explore__slider__before {
  width: 61%;
  background-image: url(../assets/img/explore-slider/before.jpg);
}

.explore__slider__separator {
  position: absolute;
  top: 0;
  left: -3%;
  width: 106%;
  background: transparent;
  outline: none;
  z-index: 10;
  -webkit-appearance: none;
}

.explore__slider__separator::-webkit-slider-thumb {
  width: 39px;
  height: 700px;
  background: url(../assets/svg/explore_slider.svg);
  cursor: pointer;
  -webkit-appearance: none;
}

/* -Section Explore end */

/* -Section Video start */

.Video {
  margin-bottom: 75px;
}

.Video__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Video__title {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  margin-bottom: 75px;
}

.Video__description-right {
  color: #000000;
  padding-top: 7px;
  padding-right: 30px;
}

.Video__player {
  position: relative;
}

.Video__player video {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.Video__button-play {
  position: absolute;
  background-image: url("../assets/svg/Play.svg");
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
  right: 42.3%;
  top: 215px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}

.Video__button-play:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.Video__button-play:not(:hover) {
  transition: 0.5s;
}

.Video__player-panel {
  background: no-repeat center;
  background-image: url("../assets/img/UnderLine.jpg");
  background-size: cover;
  max-width: 100%;
  height: 85px;
  margin-top: -11px;
  margin-bottom: 40px;
}

.Video__player-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 25px;
  justify-content: center;
}

.Video__player-play {
  background-image: url("../assets/svg/Play_small.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 30px;
  background-color: transparent;
  border: 0;
  margin-right: 3.5%;
}

.Second__progress {
  display: none;
}

.Video__progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 54%,
    #c4c4c4 54%,
    #c4c4c4 107%
  );
  height: 8px;
  width: 64.3%;
  -webkit-appearance: none;
  margin-right: 3.7%;
}

.Video__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.Video__progress:hover::-webkit-slider-thumb {
  transform: scale(1.4);
  border: 3px solid rgb(111, 0, 255);
  transition: 0.3s;
}

.Video__player-sound {
  background-image: url("../assets/svg/volume.svg");
  background-repeat: no-repeat;
  width: 37px;
  height: 29.5px;
  background-color: transparent;
  border: 0;
  margin-right: 3.5%;
}

.Sound__progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 42%,
    #c4c4c4 42%,
    #c4c4c4 107%
  );
  height: 8px;
  width: 10.7%;
  -webkit-appearance: none;
  margin-right: 3.5%;
}

.Sound__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.Sound__progress:hover::-webkit-slider-thumb {
  transform: scale(1.4);
  border: 3px solid rgb(111, 0, 255);
  transition: 0.3s;
}

.Video__player-fullscreen {
  background-image: url("../assets/svg/Fullscreen.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 0;
}

.Video__player-previous:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.Video__player-previous:not(:hover) {
  transition: 0.5s;
}

.Video__player-play:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.Video__player-play:not(:hover) {
  transition: 0.5s;
}
.Video__player-next:hover {
  transform: scale(1.2) rotate(180deg);
  transition: 0.5s;
}

.Video__player-next:not(:hover) {
  transition: 0.5s;
}

.Video__player-sound:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.Video__player-sound:not(:hover) {
  transition: 0.5s;
}

.Video__player-fullscreen:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-image: url("../assets/svg/Fullscreen-2.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 0;
}

.Video__player-fullscreen:not(:hover) {
  transition: 0.5s;
}

.Video__slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.Video__slider-pic {
  width: 31.5%;
  height: 254px;
}

.Video__carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.Video__left {
  background-image: url("../assets/img/Stroke_left.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  cursor: pointer;
  margin-right: 20px;
}

.Video__left:hover {
  filter: invert(13%) sepia(39%) saturate(5666%) hue-rotate(351deg)
    brightness(82%) contrast(103%);
  transition: 0.2s;
}

.Video__left:not(:hover) {
  transition: 0.2s;
}

.Video__circle {
  background-image: url("../assets/img/Ellipse.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-right: 20px;
}

.Video__circle.first {
  background-image: url("../assets/img/Ellipse_dark.png");
}

.Video__circle:hover {
  filter: invert(13%) sepia(39%) saturate(5666%) hue-rotate(351deg)
    brightness(82%) contrast(103%);
  transition: 0.2s;
}

.Video__circle:not(:hover) {
  transition: 0.2s;
}

.Video__right {
  background-image: url("../assets/img/Stroke_right.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

.Video__right:hover {
  filter: invert(13%) sepia(39%) saturate(5666%) hue-rotate(351deg)
    brightness(82%) contrast(103%);
  transition: 0.2s;
}

.Video__right:not(:hover) {
  transition: 0.2s;
}

/* -Section Video end */

/* -Section Gallery start */
.Gallery {
  background-color: #030303;
  margin-bottom: 75px;
}

.Gallery__picture-container {
  position: relative;
  height: 2200px;
  overflow-y: hidden;
}

.Gallery__picture-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2200px;
  box-shadow: 0px -100px 90px 0px #030303 inset;
}

.Gallery__title {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 76px;
  padding-top: 75px;
}

.Gallery__picture-inner-container {
  display: flex;
  flex-direction: column;
  column-count: 3;
  row-gap: 24px;
  column-gap: 36px;
  height: 2960px;
  flex-wrap: wrap;
}

.Gallery__pic {
  max-width: 456px;
  transform: translate(0px, 30% ) scale(0.8);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.Gallery__pic:first-child,
.Gallery__pic:nth-child(11) {
  padding-top: 50px;
}

.Gallery__pic._active {
  transform: translate(0px, 0px) scale(1);
  opacity: 1;
}

/* -Section Gallery end */

/* -Section Tickets start */

.Tickets {
  margin-bottom: 75px;
}

.Tickets__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Tickets__content-pic-line {
  display: none;
}

.tickets__type {
  margin-right: 12.3%;
}

h5 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

#first__radio-button {
  margin-top: 48px;
}

.tickets__radio {
  margin-top: 13px;
}

.tickets__radio input[type="radio"] {
  display: none;
}

.tickets__radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding-left: 40px;
  color: #000000;
}

.tickets__radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  bottom: 13px;
  background: url("../assets/img/radio-1.png") 0 0 no-repeat;
}

.tickets__radio input[type="radio"]:checked + label:before {
  background: url("../assets/img/radio-2.png") 0 0 no-repeat;
}

.tickets__radio label:hover::before {
  transform: scale(1.2);
  transition: 0.5s;
}

.tickets__amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h5.tickets__amount-title {
  margin-bottom: 22px;
}

.tickets__amount-age {
  margin-bottom: 8px;
  color: #000;
}

.number {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 50px;
  border: 3px solid #000;
  margin-bottom: 5px;
}

.number input[type="number"] {
  display: block;
  height: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #000;

  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;

  border: none;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.number-minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 37px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000;
  background-color: #fff;
}

.number-minus:hover {
  box-shadow: inset 0 0 0 3px #24809e;
  transition: 0.3s;
}

.number-minus:not(:hover) {
  transition: 0.3s;
}

.number-plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 40px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000;
  background-color: #fff;
}

.number-plus:hover {
  box-shadow: inset 0 0 0 3px #710707;
  transition: 0.3s;
}

.number-plus:not(:hover) {
  transition: 0.3s;
}

h5.tickets__amount-total {
  letter-spacing: 1.65px;
  margin-top: 45px;
  margin-bottom: 60px;
}

@-webkit-keyframes tickets__amount-total {
  15% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  30% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  65% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes tickets__amount-total {
  15% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  30% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  65% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.tickets__amount-total:hover {
  -webkit-animation: tickets__amount-total 0.5s ease;
  animation: tickets__amount-total 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.tickets__button-buy {
  width: 175px;
  height: 50px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  background: #000;
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tickets__button-buy:hover,
.tickets__button-buy:focus,
.tickets__button-buy:active {
  background: #9d8665;
  transition: 0.5s;
}

.tickets__button-buy:not(:hover) {
  transition: 0.5s;
}

.wrapper__form {
  position: fixed;
  z-index: 100;
  top: calc(50vh - 422.5px);
  left: calc(50% - 720px);
  background-color: transparent;
  background-color: #fff;
  transition: left 0.8s ease;
}

.wrapper__form-hidden {
  left: -150%;
  transition: left 0.8s ease;
}

.tickets__form {
  width: 1440px;
  height: 850px;
  margin: 0 auto;
}

.Close {
  display: inline-block;
  width: 33px;
  height: 33px;
  position: relative;
  top: 23px;
  left: calc(100% - 56px);
  z-index: 1000;
  cursor: pointer;
}

.tickets__wrapper {
  width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
}

.tickets__wrapper-left {
  width: 400px;
  height: 100%;
}

.tickets__wrapper-title {
  margin-bottom: 60px;
}

.Booking__tickets-logo {
  margin-bottom: 8px;
}

.Booking__tickets-title {
  color: #9d8665;
  font-family: "Forum";
  font-weight: 300;
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 81px;
  margin-bottom: 31px;
  font-size: 50px;
  letter-spacing: normal;
  margin-top: 0px;
  margin-bottom: 15px;
}

.Booking__tickets-subtitle {
  color: #710707;
  font-size: 18px;
  margin-bottom: 13px;
  border-bottom: 3px solid #710707;
}

.first_form {
  display: flex;
  justify-content: space-between;
}

.date_form,
.time_form {
  width: 190px;
  height: 45px;
  border: 1px solid #000000;
}

.date_wrapper,
.time_wrapper {
  display: inline-flex;
}

.date_wrapper img {
  display: inline-block;
  margin: 12px 15px;
}

.date_wrapper p,
.time_wrapper p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 4px;
  color: #000;
}

.label_date {
  cursor: pointer;
  position: relative;
  width: 17px;
  height: 17px;
  display: inline-block;
  left: 71px;
  bottom: 3px;
  background-size: 17px 17px;
}

#date_id {
  position: relative;
  opacity: 0;
  right: 29px;
  bottom: 38px;
  z-index: 1000;
}

.time_wrapper img {
  display: inline-block;
  margin: 12px 15px;
}

.label_time {
  cursor: pointer;
  position: relative;
  width: 17px;
  height: 17px;
  display: inline-block;
  left: 67px;
  bottom: 3px;
  background-size: 17px 17px;
}

#time_id {
  position: relative;
  opacity: 0;
  left: 80px;
  bottom: 38px;
  z-index: 1000;
}

.contact_form {
  width: 100%;
  height: 45px;
  border: 1px solid #000000;
  display: flex;
  margin-top: 20px;
}

.contact_form img {
  display: inline-block;
  margin: 15px;
}

.contact_form-input {
  display: inline-block;
  width: calc(100% - 45px);
  font-size: 18px;
  border: none;
}

.name_form img {
  width: 13px;
  height: 15px;
  margin-left: 13px;
}

.email_form img {
  width: 15px;
  height: 11px;
  margin-left: 13px;
}

.phone_form img {
  width: 14px;
  height: 23px;
  margin-left: 14px;
  margin-top: 10px;
}

.select {
  min-width: 400px;
  max-width: 400px;
  height: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  border: 1px solid #030303;
  padding-left: 45px;
  margin-top: 20px;
  background: url(../assets/svg/arrow.svg) 368px 14px no-repeat,
    url(../assets/svg/ballot.svg) 15px 14px no-repeat;
  -webkit-appearance: none;
}

.entryTicket_form {
  width: 400px;
  height: 135px;
  border: 1px solid #030303;
  padding: 10px 15px 15px 15px;
  margin-top: 20px;
}

.entryTicket_form-title {
  font-family: Forum;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #9d8665;
  width: 370px;
  padding-bottom: 4px;
  border-bottom: 2px solid #740c11;
  text-transform: capitalize;
}

.entryTicket_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entryTicket-left {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.entryTicket-left h3 {
  font-size: 18px;
  color: #030303;
}

.entryTicket-left h3:last-child {
  margin-top: 5px;
}

.entryTicket-right {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.age-panel {
  display: inline-block;
  position: relative;
  width: 105px;
  height: 25px;
  margin-bottom: 18px;
}

.age-panel input[type="number"] {
  display: block;
  height: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: 1px solid #000;
}

.age-panel input[type="number"]::-webkit-outer-spin-button,
.age-panel input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.age-panel-minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 35px;
  height: 23px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  background-color: #030303;
}

.age-panel-plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 35px;
  height: 23px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  background-color: #030303;
}

.Booking__form-right {
  width: 530px;
  height: 663px;
  border: 1px solid #030303;
  padding: 25px 30px 30px 26px;
  margin-left: 40px;
}

.Overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.Overview__description h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
  padding-bottom: 2px;
  padding-left: 2px;
}

.Overview__description h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
  padding-bottom: 10px;
  padding-left: 2px;
}

.Overview_date,
.Overview_time,
.Overview_temporary {
  display: flex;
  flex-direction: row;
  margin-left: 2px;
  margin-bottom: 5px;
}

.Overview_date img,
.Overview_time img,
.Overview_temporary img {
  margin-right: 15px;
}

.Overview__description p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.Cost {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  border-bottom: 2px solid #740c11;
  margin-bottom: 12px;
}

.Cost_left {
  display: flex;
  flex-direction: column;
}

.Cost_left-price p,
.Cost_right p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
}

.Cost_left-price img {
  margin-right: 10px;
}

.Cost_left-price,
.Cost_right p {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.Total {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  margin-bottom: 10px;
}

.Total p {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #030303;
}

.Card {
  position: relative;
  margin-top: 10px;
}

.Card__front {
  margin-left: 2px;
  position: relative;
  width: 360px;
  height: 211px;
  padding: 15px 20px;
  background-color: #bcbcbc;
  border-radius: 3px;
  z-index: 10;
}

.Card__number,
.Card__date {
  margin-bottom: 10px;
}

.Card__title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.Card__input-number {
  width: 215px;
  height: 35px;
  padding: 0 12px;
  border: none;
  outline: none;
}

.Card__date-wrapper {
  display: flex;
  justify-content: space-between;
  width: 215px;
}

.Card__date-month,
.Card__date-year {
  width: 100px;
  height: 35px;
  padding: 0 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  border: none;
  outline: none;
}

.Card__date-month::-webkit-inner-spin-button,
.Card__date-year::-webkit-inner-spin-button {
  opacity: 1;
}

.Card__input-name {
  width: 320px;
  height: 34px;
  padding: 0 12px;
  border: none;
  outline: none;
}

.Card__logo {
  position: absolute;
  top: 24px;
  left: 285px;
}

.Card__logo-master {
  margin-left: 2px;
}

.Card__back {
  position: absolute;
  top: 30px;
  left: 110px;
  width: 360px;
  height: 211px;
  padding: 15px 20px;
  text-align: end;
  background-color: #939393;
  border-radius: 3px;
  overflow: hidden;
}

.Card__line {
  width: 107%;
  height: 45px;
  margin: 10px 0 15px 0;
  background-color: #161615;
}

.Card__title-cvv {
  margin: 0 12px 6px 0;
}

.Card__input-cvv {
  width: 75px;
  height: 35px;
  padding: 0 12px;
  border: none;
  outline: none;
}

.Card__cvv-description {
  width: 55px;
  margin: 4px 0px 0 260px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #161615;
  text-align: left;
}

.Tickets_button {
  position: relative;
  width: 220px;
  height: 45px;
  margin: 56px 0px 0 252px;
  padding: 12px 0;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  background-color: #710707;
  opacity: 0.9;
  overflow: hidden;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.ripple {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: circle 0.6s ease-out;
}

@keyframes circle {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.form__show {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s;
}

.form__hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.Tickets__paralax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax1.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 75px;
  background-position: center;
  background-repeat: no-repeat;
}

/* -Section Tickets end */

/* -Section Contacts start */
.Contacts {
  margin-bottom: 75px;
}

.Contacts__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Contacts__content-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 51px;
}

.Contacts__address-description {
  line-height: 26px;
  color: #000000;
  margin-bottom: 25px;
}

.Contacts__address-description a {
  text-decoration: none;
  color: #000;
}

.Contacts__content-map-two {
  display: none;
}

/* -Section Contacts end */

/* Main styles end */

/* Footer styles start */
.footer {
  background-color: #030303;
}

.footer__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 35px;
}

.footer__logo {
  margin-top: 6px;
}

.footer__nav {
  margin-right: 24%;
}

.footer__list {
  height: 155px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__item {
  margin-right: 172px;
}

.footer__link {
  font-weight: 100;
  line-height: 51px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  color: #9d8665;
  transition: 0.3s;
}

.footer__link:not(:hover) {
  transition: 0.3s;
}

.footer_contacts {
  align-self: flex-end;
  margin-bottom: 18px;
}

.footer_contacts-links {
  display: flex;
  flex-wrap: wrap;
}

.footer_contacts-social {
  margin-right: 22px;
}

.footer_contacts-social:last-child {
  margin-right: 0;
}

.footer_contact-youtube {
  padding: 16px 13px;
}

.footer_contact-instagram {
  padding: 14px;
}

.footer_contact-facebook {
  padding: 14px 18px;
}

.footer_contact-twitter {
  padding: 16px 14px;
}

.footer_contact-pinterest {
  padding: 14px;
}

.footer_contact-border {
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.footer_contact-border:hover {
  filter: invert(54%) sepia(11%) saturate(937%) hue-rotate(356deg)
    brightness(97%) contrast(95%);
  transform: scale(1.2);
  transition: 0.3s;
}

.footer_contact-border:not(:hover) {
  transition: 0.3s;
}

.footer__line {
  width: 100%;
  height: 3px;
  background-color: #666666;
}

.Personal__contacts {
  display: flex;
  height: 124px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.year,
.rsShool a,
.name a {
  font-family: Roboto;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
}

.year {
  margin-right: 4.8%;
}

/* Footer styles end */

@media (max-width: 1024px) {
  .wrapper {
    max-width: 984px;
  }

  body {
    min-width: 1024px;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    cursor: pointer;
  }

  .header__menu span,
  .header__menu::before,
  .header__menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .header__menu::before,
  .header__menu::after {
    content: "";
  }

  .header__menu::before {
    top: 0;
  }

  .header__menu::after {
    bottom: 0;
  }

  .header__menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header__menu._active span {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .header__menu._active::before {
    bottom: 50%;
    transform: rotate(45deg) translate(23%, -50%);
  }

  .header__menu._active::after {
    top: 50%;
    transform: rotate(-45deg) translate(23%, 50%);
  }

  .header__nav-menu {
    display: block;
    position: absolute;
    top: 130px;
    left: 0;
    width: 297px;
    height: 585px;
    background-color: #030303;
    padding: 23px 115px 0px 55px;
    transition: all 0.5s ease-in-out;
    z-index: 4;
    transform: translate(-100%, 0px);
  }

  .header__nav-menu._active {
    transform: translate(0px, 0px);
  }

  .burger-menu-overlay._active {
    display: block;
  }

  .header__item-menu {
    width: 120px;
    background: url(../assets/svg/arrow-right.svg) no-repeat;
    background-position: right;
  }

  .header__item-menu a {
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
  }

  .header__nav-pic {
    display: none;
  }

  .header__nav-line {
    display: none;
  }

  .header__nav-menu .footer_contacts {
    display: none;
  }

  .tickets {
    padding-left: 0px;
  }

  .header {
    height: 130px;
  }

  .header__wrapper {
    padding-top: 47px;
  }

  .Welcome {
    height: 585px;
    margin-bottom: 60px;
  }

  .Welcome__wrapper {
    height: 585px;
    background-size: 700px;
  }

  .Welcome__section {
    margin-top: 50px;
    height: 343px;
    width: 398px;
  }

  .Welcome__section._active {
    opacity: 0;
    transition: opacity 0.8s;
  }

  .Welcome__title {
    font-size: 50px;
    max-width: 398px;
    margin-bottom: 25px;
  }

  .Welcome__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .Welcome__button {
    width: 300px;
    height: 60px;
    line-height: 23px;
    font-size: 20px;
  }

  .Welcome__control {
    position: absolute;
    width: 700px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
  }

  .Welcome__position {
    font-size: 20px;
    margin-right: 46px;
    margin-top: 1px;
  }

  .Welcome__current,
  .Welcome__separator {
    font-size: 20px;
    margin-right: 10px;
  }

  .Welcome__point {
    width: 12px;
    height: 12px;
    margin-right: 25px;
  }

  .Welcome__point:last-child {
    margin-right: 45px;
  }

  .Welcome__arrow.right {
    margin-right: 75px;
    width: 30px;
    height: 8px;
  }

  .top__title-white {
    font-size: 50px;
    line-height: 75px;
    padding-bottom: 20px;
    border-bottom: 3px solid #710707;
    margin-bottom: 60px;
  }

  .Visiting {
    margin-bottom: 60px;
  }

  .Visiting__cards {
    width: 768px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 14%;
    margin: 0 auto;
  }

  .Visiting__card-thumb {
    max-width: 330px;
    height: 215px;
  }

  .Visiting__card-pic::after {
    bottom: -43px;
    width: 150px;
  }

  .Visiting__card:hover .Visiting__card-pic::after {
    width: 330px;
  }

  .Visiting__card-title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
    margin-bottom: 21px;
  }

  .Visiting__card-comments-360 {
    font-weight: 200;
    line-height: 23px;
    font-size: 20px;
    margin-bottom: 11px;
  }

  .Visiting__card-comments-view {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }

  .Explore {
    height: 1149px;
    margin-bottom: 60px;
  }

  .Explore__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .top__title-black {
    font-weight: 300;
    font-size: 50px;
    line-height: 75px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .Explore__description {
    margin-bottom: 40px;
  }

  .Explore__description-left {
    max-width: 100%;
    font-size: 20px;
    line-height: 37px;
    margin-bottom: 0px;
  }

  .Explore__description-left br {
    display: none;
  }

  .Explore__description-left.Cleaning {
    display: none;
  }

  .Explore__slider {
    margin-top: 20px;
    margin-left: calc(50% - 360px);
  }

  .Video {
    margin-bottom: 60px;
  }

  .Video__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 40px;
  }

  .Video__description-right {
    display: none;
  }

  .Video__player video {
    height: 444px;
  }

  .Video__button-play {
    width: 152px;
    height: 152px;
    background-size: cover;
    right: 42.3%;
    top: 145px;
  }

  .Video__player-panel {
    height: 60px;
    margin-top: -12px;
    margin-bottom: 40px;
  }

  .Video__player-wrapper {
    padding-top: 14px;
    width: 905px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .Video__progress {
    height: 5px;
    width: 63.5%;
  }

  .Video__progress {
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 40%,
      #c4c4c4 40%,
      #c4c4c4 107%
    );
    height: 5px;
    width: 63.5%;
    order: 1;
  }

  .First__progress {
    display: none;
  }

  .Second__progress {
    display: block;
  }

  .Video__player-sound {
    width: 26px;
    height: 20px;
    background-size: cover;
    order: 2;
  }

  .Sound__progress {
    height: 5px;
    width: 15.8%;
  }

  .Video__player-fullscreen {
    width: 26px;
    height: 26px;
    background-size: cover;
    order: 3;
  }

  .Video__slider-pic {
    width: 30.5%;
    height: 170px;
  }

  .Video__carousel {
    margin-bottom: 0px;
  }

  .Gallery {
    margin-bottom: 60px;
  }

  .Gallery__picture-container {
    height: 1460px;
  }

  .Gallery__picture-container::before {
    height: 1460px;
  }

  .Gallery__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .Gallery__picture-inner-container {
    height: 1980px;
  }

  .Gallery__pic {
    max-width: 304px;
  }

  .Tickets {
    margin-bottom: 60px;
  }

  .tickets__type {
    display: none;
  }

  .Tickets__content-pic {
    width: 700px;
    height: 440px;
  }

  .tickets__amount {
    align-items: flex-start;
    margin-right: 30px;
  }

  .tickets__amount-age {
    margin-bottom: 5px;
  }

  .number {
    margin-bottom: 25px;
    width: 175px;
  }

  h5.tickets__amount-total {
    margin-top: 0px;
    margin-bottom: 65px;
  }

  .Tickets__paralax {
    height: 400px;
    margin-top: 60px;
  }

  .Contacts {
    margin-bottom: 62px;
  }

  .Contacts__content-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 34px;
  }

  .Contacts__address-description {
    line-height: 23px;
    font-size: 20px;
    margin-bottom: 16px;
  }

  .Contacts__content-map {
    width: 70.6%;
    height: 454px;
  }

  .footer__wrapper {
    padding-top: 52px;
    padding-bottom: 35px;
  }
  .footer__nav {
    margin-right: 14%;
  }

  .footer__item {
    margin-right: 122px;
  }

  .year {
    margin-right: 6.8%;
  }

  .wrapper__form {
    top: calc(50vh - 384px);
    left: calc(50% - 512px);
  }

  .wrapper__form-hidden {
    left: -120%;
  }

  .tickets__form {
    width: 1024px;
    height: 768px;
  }

  .tickets__wrapper {
    margin-top: 38px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 728px;
  }

  body {
    min-width: 768px;
  }

  .header {
    height: 100px;
  }

  .header__wrapper {
    padding-top: 41px;
  }

  .header__menu {
    margin-bottom: 8px;
  }

  .Welcome {
    height: 870px;
    margin-bottom: 40px;
  }

  .Welcome__wrapper {
    flex-direction: column;

    align-items: center;
    height: 861px;
    background: none;
  }

  .Welcome__section {
    align-items: center;
    width: auto;
    max-width: 598px;
    height: 165px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .Welcome__title {
    font-size: 40px;
    max-width: 332px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 60px;
  }

  .Welcome__subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0px;
  }

  .Welcome__button {
    display: none;
  }

  .Welcome__picture {
    display: block;
    object-fit: cover;
  }

  .Welcome__picture img {
    width: 100%;
    height: 546px;
    object-fit: fill;
  }

  .Welcome__control {
    position: static;
    width: 100%;
    height: 100px;
    justify-content: center;
    padding-top: 8px;
  }

  .Welcome__arrow.right {
    margin-right: 0px;
  }

  .header__nav-menu {
    top: 100px;
    left: 0;
    width: 768px;
    height: 861px;
    padding: 31px 30px 0px 55px;
  }

  .header__nav-pic {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 658px;
    height: 375px;
    margin: 25px 0 34px 0px;
  }

  .header__nav-line {
    width: 96.5%;
    height: 1px;
    background-color: #fff;
    opacity: 0.6;
  }

  .header__list-menu {
    margin-bottom: 25px;
  }

  .header__nav-line {
    display: block;
  }

  .header__nav-menu .footer_contacts {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-right: 26px;
  }

  .Visiting {
    height: 1187px;
    margin-bottom: 0px;
  }

  .top__title-white {
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 21px;
    margin-bottom: 40px;
  }

  .Visiting__cards {
    width: 616px;
    grid-gap: 39px 9%;
  }

  .Visiting__card-thumb {
    max-width: 280px;
    height: 180px;
  }

  .Visiting__card-title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  .Visiting__card-pic::after {
    bottom: -36px;
  }

  .Visiting__card:hover .Visiting__card-pic::after {
    width: 280px;
  }

  .Visiting__card-comments-360 {
    line-height: 21px;
    font-size: 18px;
    margin-bottom: 11px;
  }

  .Explore {
    height: 908px;
    margin-bottom: 0px;
  }

  .top__title-black {
    height: 123px;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    padding-top: 40px;
  }

  .Explore__description-left {
    display: none;
  }

  .Explore__slider {
    margin-top: 0px;
  }

  .Video {
    height: 837px;
    margin-bottom: 0px;
  }

  .Video__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
    padding-top: 40px;
  }

  .Video__player video {
    height: 329px;
  }

  .Video__player-wrapper {
    padding-top: 14px;
    width: 674px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .Video__button-play {
    width: 80px;
    height: 80px;
    right: 44.7%;
    top: 125px;
  }

  .Video__player-panel {
    height: 57px;
    margin-top: -12px;
    margin-bottom: 20px;
  }

  .Sound__progress {
    display: none;
  }

  .Video__progress {
    width: 71.5%;
    order: 2;
  }

  .Video__player-sound {
    width: 26px;
    height: 20px;
    order: 1;
  }

  .Video__slider {
    margin-bottom: 20px;
  }

  .Video__slider-pic {
    width: 48.6%;
    height: 199px;
  }

  .Video__slider-pic:last-child {
    display: none;
  }

  .Video__circle {
    width: 10px;
    height: 10px;
    background-size: cover;
  }

  .Gallery {
    margin-bottom: 40px;
  }

  .Gallery__picture-container {
    height: 1220px;
  }

  .Gallery__picture-container::before {
    height: 1220px;
  }

  .Gallery__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
    padding-top: 40px;
  }

  .Gallery__picture-inner-container {
    column-count: 2;
    column-gap: 24px;
    height: 3350px;
  }

  .Gallery__pic {
    max-width: 352px;
  }

  .Tickets {
    margin-bottom: 40px;
  }

  .Tickets__content-pic {
    width: 444px;
    height: 340px;
  }

  .tickets__amount {
    margin-right: 50px;
  }

  h5.tickets__amount-title {
    margin-bottom: 30px;
  }

  .number {
    margin-bottom: 20px;
  }

  h5.tickets__amount-total {
    margin-top: 17px;
    margin-bottom: 40px;
  }

  .Tickets__paralax {
    width: 100%;
    height: 300px;
    margin-top: 40px;
  }

  .Contacts {
    margin-bottom: 0px;
    height: 884px;
  }

  .Contacts__content-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
  }

  .Contacts__address-description {
    line-height: 21px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .Contacts__content-map {
    margin-top: 25px;
    width: 100%;
    height: 476px;
  }

  .footer__wrapper {
    padding-top: 40px;
    padding-bottom: 35px;
    flex-wrap: wrap;
  }

  .footer__link {
    font-weight: 200;
    line-height: 21px;
    font-size: 18px;
  }

  .footer__list {
    height: 131px;
    width: 340px;
    align-content: space-between;
    justify-content: space-between;
    margin-right: 90px;
    margin-top: 6px;
    margin-bottom: 42px;
  }

  .footer__nav {
    margin-right: 0px;
  }

  .footer__item {
    margin-right: 0px;
    width: 85px;
  }

  .footer__wrapper .footer_contacts {
    margin-left: 41%;
    margin-bottom: 3px;
  }

  .Personal__contacts {
    height: 102px;
  }

  .year {
    margin-right: 9%;
  }

  .wrapper__form {
    top: 50px;
    left: calc(50% - 295px);
    overflow: auto;
  }

  .wrapper__form-hidden {
    left: -120%;
  }

  .tickets__form {
    width: 590px;
    height: 785px;
  }

  .tickets__wrapper {
    flex-direction: column;
    width: 530px;
    margin-top: 42px;
    align-items: center;
  }

  .Booking__form-right {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .Booking__tickets-subtitle {
    padding-bottom: 2px;
    margin-bottom: 0px;
  }

  .tickets__wrapper-left {
    width: 100%;
  }

  .tickets__wrapper-title {
    margin-bottom: 40px;
  }

  .date_form,
  .time_form {
    width: 251px;
  }

  .label_date {
    left: 131px;
  }

  #date_id {
    right: 0px;
    left: 32px;
  }

  .label_time {
    left: 127px;
  }

  #time_id {
    right: 0px;
    left: 23px;
    bottom: 0px;
  }

  .select {
    min-width: 530px;
    background: url(../assets/svg/arrow.svg) 497px 12px no-repeat,
      url(../assets/svg/ballot.svg) 15px 14px no-repeat;
    -webkit-appearance: none;
  }

  .entryTicket_form {
    width: 530px;
    padding: 10px 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .Booking__form-right {
    width: 530px;
    padding: 25px 13px 30px 13px;
    margin-left: 0px;
  }

  .Overview {
    margin-bottom: 21px;
  }

  .Card__back {
    left: 145px;
  }

  .Card__title-cvv {
    margin: 17px 18px 6px 0;
  }

  .Card__cvv-description {
    margin: 4px 0px 0 255px;
  }

  .Tickets_button {
    margin: 56px 0px 0 282px;
    padding: 12px 0;
    padding-top: 4px;
  }
}

@media (max-width: 420px) {
  .wrapper {
    max-width: 380px;
  }

  body {
    min-width: 420px;
  }

  .header {
    height: 85px;
  }

  .header__wrapper {
    display: flex;
    padding-top: 27px;
  }

  .header__logo-pic {
    width: 29px;
    height: 16px;
    background-size: cover;
    margin-top: 8px;
  }

  h4 {
    font-size: 16px;
  }

  .header__menu {
    margin-bottom: 2px;
  }

  .header__nav-menu {
    top: 90px;
    width: 420px;
    height: 544px;
    padding: 21px 30px 0px 55px;
  }

  .header__nav-pic {
    display: none;
  }

  .header__nav-pic-mobile {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: nowrap;
    width: 311px;
    height: 95px;
    margin: 25px 0 17px 0px;
  }

  .header__nav-line {
    width: 93%;
  }

  .header__nav-menu .footer_contacts {
    margin-top: 24px;
    margin-right: 20px;
  }

  .header__nav-menu .footer_contacts .footer_contacts-social {
    margin-right: 3px;
  }

  .Welcome {
    height: 549px;
  }

  .Welcome__wrapper {
    height: 534px;
  }

  .Welcome__section {
    max-width: 278px;
    height: 124px;
    margin-bottom: 20px;
  }

  .Welcome__title {
    font-size: 28px;
    max-width: 255px;
    margin-bottom: 0px;
    line-height: 40px;
  }

  .Welcome__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }

  .Welcome__picture img {
    height: 285px;
  }

  .Welcome__control {
    width: 230px;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .Welcome__position {
    font-size: 16px;
    line-height: 40px;
    margin-right: 25px;
    margin-top: 1px;
  }

  .Welcome__current,
  .Welcome__separator {
    font-size: 16px;
    margin-right: 5px;
  }

  .Welcome__point {
    width: 7px;
    height: 7px;
    margin-right: 10px;
  }

  .Welcome__point:last-child {
    margin-right: 25px;
  }

  .Welcome__arrow.left {
    width: 20px;
    margin-right: 15px;
    background-size: cover;
  }

  .Welcome__arrow.right {
    margin-right: 0px;
    width: 20px;
    background-size: cover;
    background-position: right;
  }

  .Visiting {
    height: 2113px;
  }

  .top__title-white {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 21px;
    margin-bottom: 40px;
  }

  .Visiting__cards {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 2075px;
  }

  .Visiting__card-thumb {
    margin-bottom: 24px;
  }

  .Visiting__card-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
    margin-bottom: 24px;
  }

  .Visiting__card-comments-360 {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }

  .Visiting__card-pic::after {
    bottom: -32px;
  }

  .Explore {
    height: 551px;
  }

  .top__title-black {
    height: 63px;
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    padding-top: 40px;
  }

  .Explore__slider {
    width: 380px;
    height: 368px;
    margin-left: calc(50% - 190px);
  }

  .Explore__slider__after,
  .Explore__slider__before {
    background-size: cover;
  }

  .explore__slider__separator::-webkit-slider-thumb {
    width: 20px;
    height: 368px;
    background-size: cover;
  }

  .Video {
    height: 551px;
  }

  .Video__title {
    font-size: 28px;
    line-height: 40px;
    padding-top: 36px;
  }

  .Video__player video {
    height: 172px;
  }

  .Video__player-wrapper {
    padding-top: 20px;
    width: 341px;
  }

  .Video__button-play {
    width: 50px;
    height: 50px;
    right: 43.4%;
    top: 61px;
  }

  .Video__player-panel {
    height: 55px;
    margin-bottom: 40px;
  }

  .Video__player-play {
    width: 14px;
    height: 18px;
    background-size: cover;
    margin-right: 3.5%;
  }

  .Video__player-sound {
    width: 18px;
    height: 14px;
  }

  .Video__progress {
    height: 4px;
    width: 58.5%;
  }

  .Video__player-fullscreen {
    width: 18px;
    height: 18px;
  }

  .Video__progress::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .Video__slider {
    margin-bottom: 38px;
  }

  .Video__slider-pic {
    width: 47.6%;
    height: 101px;
  }

  .Video__left {
    width: 7px;
    height: 8px;
    background-size: cover;
  }

  .Video__circle {
    width: 8px;
    height: 8px;
  }

  .Video__right {
    width: 7px;
    height: 8px;
    background-size: cover;
  }

  .Gallery {
    margin-bottom: 40px;
  }

  .Gallery__picture-container {
    height: 756px;
  }

  .Gallery__picture-container::before {
    height: 756px;
  }

  .Gallery__title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 40px;
    padding-top: 41px;
  }

  .Gallery__picture-inner-container {
    height: 1550px;
  }

  .Gallery__pic {
    max-width: 178px;
  }

  .Tickets {
    margin-bottom: 40px;
  }

  .Tickets__content {
    flex-direction: column;
    align-items: center;
    height: 576px;
  }

  .Tickets__content-pic {
    display: none;
  }

  .Tickets__content-pic-line {
    display: block;
    width: 100%;
    height: 160px;
  }

  h5.tickets__amount-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .tickets__amount {
    align-items: center;
    margin-right: 0px;
    height: 376px;
  }

  .tickets__amount-age {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  h5.tickets__amount-total {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
  }

  .tickets__button-buy {
    font-size: 16px;
    line-height: 0px;
  }

  .number {
    margin-bottom: 20px;
  }

  .Contacts {
    margin-bottom: 0px;
    height: 595px;
  }

  .Contacts__content {
    flex-direction: column;

    height: 453px;
  }

  .Contacts__content-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 38px;
  }

  .Contacts__address-description {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .Contacts__content-map {
    display: none;
  }

  .Contacts__content-map-two {
    display: block;
    width: 100%;
    height: 248px;
  }

  .footer__wrapper {
    padding-top: 26px;
    padding-bottom: 35px;
  }

  .footer__logo .header__logo-link .header__logo-pic {
    margin-right: 20px;
  }

  .footer__list {
    height: 88px;
    width: 380px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .footer__link {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }

  .footer__item {
    width: 75px;
  }

  .footer__wrapper .footer_contacts {
    margin-left: 14.5%;
    margin-bottom: 3px;
  }

  .footer_contacts-links .footer_contacts-social {
    margin-right: 4px;
  }

  .year,
  .rsShool a,
  .name a {
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
  }

  .year {
    margin-right: 0%;
    margin-left: 3px;
  }

  .rsShool {
    display: none;
  }

  .footer__line {
    height: 2px;
  }

  .wrapper__form {
    left: calc(50% - 210px);
  }

  .wrapper__form-hidden {
    left: -110%;
  }

  .tickets__form {
    width: 420px;
    height: 760px;
  }

  .tickets__wrapper {
    width: 360px;
    margin-top: 42px;
  }

  .Booking__tickets-title {
    font-size: 32px;
    letter-spacing: 0px;
    margin-top: -9px;
    margin-bottom: 5px;
  }

  .first_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 110px;
  }

  .date_form,
  .time_form {
    width: 360px;
  }

  .label_date {
    left: 239px;
  }

  #date_id {
    left: 30px;
    bottom: 0;
  }

  .label_time {
    left: 235px;
  }

  #time_id {
    left: 130px;
  }

  .select {
    min-width: 360px;
    background: url(../assets/svg/arrow.svg) 327px 12px no-repeat,
      url(../assets/svg/ballot.svg) 15px 14px no-repeat;
    -webkit-appearance: none;
  }

  .entryTicket_form {
    width: 360px;
    padding: 10px 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .entryTicket_form-title {
    width: 330px;
  }

  .Booking__form-right {
    width: 360px;
    height: 885px;
  }

  .Overview {
    width: 330px;
  }

  .Overview__pic img {
    width: 120px;
    height: 96px;
  }

  .Total {
    margin-bottom: 15px;
  }

  .Card__front {
    width: 330px;
  }

  .Card__title {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
  }

  .Card__input-name {
    width: 290px;
  }

  .Card__logo {
    top: 22px;
    left: 252px;
  }

  .Card__back {
    margin-left: 2px;
    position: relative;
    width: 330px;
    height: 211px;
    padding: 15px 0px;
    background-color: #939393;
    border-radius: 3px;
    z-index: 10;
    left: 0px;
    margin-top: -8px;
  }

  .Card__title-cvv {
    font-size: 13px;
    line-height: 15px;
    margin: 2px 28px 3px 0;
  }

  .Card__input-cvv {
    width: 75px;
    margin-right: 18px;
  }

  .Card__cvv-description {
    margin: 4px 0px 0 250px;
  }

  .Tickets_button {
    margin: 68px 0px 0 113px;
    padding: 12px 0;
    padding-top: 4px;
  }
}
