@import "../../scss/style";

.footer-wrapper{
  width: 100vw;
  height: 8vh;
  background-color: $main-color;
  .footer-content{
    @include flex();
    align-items: center;
    margin: 0 auto;
    width: 95vw;
    height: 90%;
    .footer-name{
      font-size: 1.5em;
      font-weight: 500;
      a{
        font-size: 1.2em;
        color: #fff;
      }
    }
    .footer-rsShool{
      height: 80%;
      img{
        height: 100%;
      }
    }
    
  }

}